/*.html*/
body{
    font-family: "trirong", serif;
    background-color: rgb(241, 241, 241);
}


header{
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
}
header nav ul li{
    list-style: none;
    padding: 7px;
    margin-right: 46px;
}
header ul li a{
    text-decoration: none;
    color: black;
}
header ul li .contact-btn{
    background-color: #e6bd43;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
header ul li a:visited{
    text-decoration: none;
}
header ul li a:hover{
    font-weight: bold;
    border-bottom: solid;
    border-color: #e6bd43;
}
header ul li a:active{
    font-weight: bold;
    border-bottom: solid;
    border-color: #e6bd43;
}


footer{
    background-color: #252525;
}
footer img{
    margin-top: 20px;
}
footer a{
    display: grid;
    justify-content: center;
}
footer .comp-name{
    text-align: center;
    color: white;
}
footer ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}
footer ul li{
    list-style: none;
    margin: 10px;
}
footer ul li a{
    color: white;
    
}



/*index.html*/
.index-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.index-image img{
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.index-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.read-more-btn{
    background-color: #e6bd43;
    text-decoration: none;
    color: black;
    padding: 8px;
}


.sub-head{
    display: flex;
    text-align: center;
    padding: 20px;
}


.about-company{
    background-color: #e6bd43;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.about-company img{
    max-width: 629px;
    width: 100%;
}
.about-company h3{
    text-align: center;
    padding: 10px;
}
.about-company p{
    text-align: center;
    padding: 10px;
}
.about-company .go-to-btn{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}
.go-to-btn{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 24px;
}


.our-services h2{
    text-align: center;
}
.our-services article{
    display: grid;
    justify-items: center;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}



.news{
    background-color: rgb(197, 197, 197);
    padding: 50px;
}
.news{
    display: grid;
    justify-items: center;
}
.submit-btn{
    text-decoration: none;
    color: black;
    background-color: #e6bd43;
    padding: 3px;
}




/*products.html*/
.pro-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.pro-image img{
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}
.pro-image h1{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
}


.jobs article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.jobs a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;
}


.main-pro section{
    padding: 20px;
}
.main-pro section h2{
    padding: 20px;
    margin: 50px;
    border-bottom: solid;
    border-color: #e6bd43;
    
}
.main-pro section p{
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
}


.article-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
}


.branding img{
    max-width: 629px;
    width: 100%;
}
.design img{
    max-width: 629px;
    width: 100%;
}
.dev img{
    max-width: 629px;
    width: 100%;
}




/*about.html*/
.about-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.about-image img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.about-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.get-in-btn{
    background-color: #e6bd43;
    text-decoration: none;
    color: black;
}


.services{
    display: grid;
    text-align: center;
    padding: 20px;
}


.clients{
    background-color: #e6bd43;
    padding: 20px;
}
.clients h2{
    text-align: center;
}
.clients img{
   
    padding: 10px;
   
}


.contact h2{
    text-align: center;
    margin-top: 100px;
}
.contact .send-message{
    display: grid;
    justify-items: center;
    margin: 60px;
}
.contact .message-name{
    width: 100%;
}
.contact .message-branding{
    width: 100%;
}
.contact .message-contact{
    height: 150px;
    width: 100%;
}
.send-message-btn{
    background-color: #e6bd43;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
.contact h3{
    text-align: left;
    margin-left: 20px;
}
.contact-info p{
    display: grid;
    justify-items: center;
    padding: 20px;
}
.cont-loca{
    display: grid;
    justify-items: left;
    margin: 20px;
}
.cont-loca i{
    margin-right: 10px;
}




/*media querries*/
@media only screen and (min-width: 1000px) and (max-width: 1600px) {
    /*.html*/
    header{
        display: flex;
        margin: 5px;
    }
    header nav ul li{
        display: inline-block;
    }
    #logoTop{
        display: flex;
        justify-content: left;
    }

    /*index.html*/
    .our-services{
       
    }
}